# Cole essas variaveis no painel da Vercel em:
# Settings -> Environment Variables

NEXT_PUBLIC_SUPABASE_URL=https://wiibkdsfcorfybonifwg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_7AW5_l0DJkpGog6B0TLbhA_jEy8cKrq
